body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    sans-serif monospace;
}

.statistic .label {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  text-transform: capitalize !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.progress .label {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  text-transform: capitalize !important;
  font-weight: normal !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

#allStats {
  width: 83%;
  margin: auto;
  padding: 10px;
}

.grey .value {
  color: rgba(255, 255, 255, 0.7) !important;
  padding-bottom: 2%;
}
